# Introducción a Pandas

## Objetivo:

Explorar las funciones básicas de la biblioteca Pandas en Python para cargar, visualizar y manipular estructuras de datos tipo DataFrame.

*Nota: Este laboratorio está diseñado para desarrollar razonamiento estadístico. Evita el uso de herramientas de IA para responder las preguntas a menos que esto sea explícitamente sugerido* 🤖. *En su lugar, enfócate en aplicar los conceptos revisados.*

## Actividad 1

In [4]:
import pandas as pd

tabla1 = pd.DataFrame({
    'Nombre': ['Rodrigo', 'Pedro', 'Ignacia', 'Luis', 'Valentina', 'Carlos', 'Martina', 'Javiera', 'Camilo', 'Bastián'],
    'Edad(años)': [21, 23, 20, 24, 22, 20, 22, 21, 20, 20],
    'Carrera': ['Informática', 'Telecomunicaciones', 'Informática', 'Informática', 'Analista', 'Telecomunicaciones', 'Analista', 'Telecomunicaciones', 'Informática', 'Informática']
})

tabla1

      Nombre  Edad(años)             Carrera
0    Rodrigo          21         Informática
1      Pedro          23  Telecomunicaciones
2    Ignacia          20         Informática
3       Luis          24         Informática
4  Valentina          22            Analista
5     Carlos          20  Telecomunicaciones
6    Martina          22            Analista
7    Javiera          21  Telecomunicaciones
8     Camilo          20         Informática
9    Bastián          20         Informática

Antes de comenzar a trabajar con bases de datos más complejas, aprenderás a crear tus propios datos dentro de Python usando Pandas. Esto te permitirá entender mejor cómo funciona un DataFrame y practicar operaciones básicas de conteo y selección.

1. Crea un DataFrame con los siguientes datos de estudiantes:

<center>

|Nombre| Edad (años)| Carrera|
|------|:-----------:|--------|
|Rodrigo | 21 | Informática|
|Pedro | 23 | Telecomunicaciones|
|Ignacia | 20 | Informática|
|Luis | 24 | Informática|
|Valentina | 22 | Analista|
|Carlos | 20 | Telecomunicaciones|
|Martina | 22 | Analista|
|Javiera | 21 | Telecomunicaciones|
|Camilo | 20 | Informática|
|Bastián | 20 | Informática|

</center>

Luego, muestra en la consola el contenido completo del DataFrame.

2. Muestra únicamente la columna "Carrera" del DataFrame creado en el inciso anterior.

In [5]:
tabla1['Carrera']

0           Informática
1    Telecomunicaciones
2           Informática
3           Informática
4              Analista
5    Telecomunicaciones
6              Analista
7    Telecomunicaciones
8           Informática
9           Informática
Name: Carrera, dtype: object

3. ¿Cuántos estudiantes hay en cada carrera? Utiliza alguna función de Python para responder.

In [ ]:
cantidad_als_carr = tabla1['Carrera'].value_counts()
cantidad_als_carr

Carrera
Informática           5
Telecomunicaciones    3
Analista              2
Name: count, dtype: int64

4. ¿Cuál es la edad más común entre los estudiantes?

In [8]:
edad_als_comun = tabla1['Edad(años)'].value_counts()
edad_als_comun

Edad(años)
20    4
21    2
22    2
23    1
24    1
Name: count, dtype: int64

5. Se espera que estos estudiantes egresen de su carrera en aproximadamente 3 años más. Agrega una nueva columna al DataFrame llamada "Edad al egresar" que contenga la edad que tendrá cada estudiante al finalizar sus estudios. Luego, muestra en la consola el DataFrame actualizado.

In [ ]:
tabla1['Edad al egresar'] = tabla1['Edad(años)'] + 3 # se agrega una columna nueva con agregarle un dato entre corchetes a la derecha del nombre de la columna.
tabla1

      Nombre  Edad(años)             Carrera  Edad al egresar
0    Rodrigo          21         Informática               24
1      Pedro          23  Telecomunicaciones               26
2    Ignacia          20         Informática               23
3       Luis          24         Informática               27
4  Valentina          22            Analista               25
5     Carlos          20  Telecomunicaciones               23
6    Martina          22            Analista               25
7    Javiera          21  Telecomunicaciones               24
8     Camilo          20         Informática               23
9    Bastián          20         Informática               23

## Actividad 2

Eres parte del equipo de soporte de datos de una empresa de telecomunicaciones. Te han pedido cargar una base de datos de clientes y realizar una primera revisión para comprender su estructura y conocer su contenido.

Descarga la base de datos **<a href="https://docs.google.com/spreadsheets/d/1v6euDfqECe1HTJz0yFUrn7mmrt-rG9gG/export?format=xlsx
">aquí</a>** y sigue las instrucciones detalladas a continuación:

1. Sube la base de datos al entorno "Archivos" de Google Colab (ícono de carpeta en la barra lateral izquierda). Luego, cárgala en un DataFrame llamado `df_1`.

$\hspace{1 cm}$ *Nota: Recuerda que para cargar la base de datos a un DF debes utilizar la biblioteca Pandas de Python*.

In [ ]:
df_1 = pd.read_excel(r"C:\Users\CETECOM\Documents\Python\Base0.xlsx") #Para import un excel le pasamos la ruta a la función pd.read_excel
df_1

,ID,Género,Ciudadano mayor,Pareja,Dependientes,Antigüedad,Servicio telefónico,Líneas múltiples,Servicio de Internet,Protección contra Malware,Protección del dispositivo,Soporte técnico,Televisión en streaming,Películas en streaming,Contrato,Facturación sin papel,Método de pago,Cargos mensuales (dólares),Cargos totales (dólares),Deserción Cliente
0,7590-VHVEG,Femenino,0,Sí,No,1,No,No hay servicio telefónico,DSL,No,No,No,No,No,Mes a mes,Sí,Cheque electrónico,29.85,29.85,No
1,5575-GNVDE,Masculino,0,No,No,34,Sí,No,DSL,Sí,Sí,No,No,No,Un año,No,Cheque enviado por correo,56.95,1889.50,No
2,3668-QPYBK,Masculino,0,No,No,2,Sí,No,DSL,Sí,No,No,No,No,Mes a mes,Sí,Cheque enviado por correo,53.85,108.15,Sí
3,7795-CFOCW,Masculino,0,No,No,45,No,No hay servicio telefónico,DSL,Sí,Sí,Sí,No,No,Un año,No,Transferencia bancaria (automática),42.30,1840.75,No
4,9237-HQITU,Femenino,0,No,No,2,Sí,No,Fibra óptica,No,No,No,No,No,Mes a mes,Sí,Cheque electrónico,70.70,151.65,Sí
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4094,9780-FKVVF,Masculino,0,No,No,6,Sí,No,DSL,Sí,No,No,No,Sí,Mes a mes,Sí,Transferencia bancaria (automática),59.15,336.70,No
4095,1919-RTPQD,Masculino,0,Sí,Sí,7,Sí,No,DSL,No,No,No,No,No,Mes a mes,No,Cheque electrónico,44.75,333.65,No
4096,5214-NLTIT,Masculino,0,Sí,Sí,72,Sí,Sí,Fibra óptica,No,Sí,No,No,Sí,Dos años,Sí,Tarjeta de crédito (automática),90.80,6511.80,No
4097,3345-PBBFH,Masculino,0,Sí,No,8,Sí,No,DSL,No,No,No,No,No,Mes a mes,Sí,Transferencia bancaria (automática),49.55,393.45,No
4098,5055-BRMNE,Femenino,0,Sí,Sí,67,Sí,Sí,Fibra óptica,Sí,No,Sí,Sí,Sí,Dos años,No,Tarjeta de crédito (automática),106.70,7009.50,No

2. Explora el contenido del DataFrame mostrando las primeras y últimas 10 filas.

In [18]:
df_1.head(10) #Para ver las primeras 10 filas del DataFrame

,ID,Género,Ciudadano mayor,Pareja,Dependientes,Antigüedad,Servicio telefónico,Líneas múltiples,Servicio de Internet,Protección contra Malware,Protección del dispositivo,Soporte técnico,Televisión en streaming,Películas en streaming,Contrato,Facturación sin papel,Método de pago,Cargos mensuales (dólares),Cargos totales (dólares),Deserción Cliente
0,7590-VHVEG,Femenino,0,Sí,No,1,No,No hay servicio telefónico,DSL,No,No,No,No,No,Mes a mes,Sí,Cheque electrónico,29.85,29.85,No
1,5575-GNVDE,Masculino,0,No,No,34,Sí,No,DSL,Sí,Sí,No,No,No,Un año,No,Cheque enviado por correo,56.95,1889.50,No
2,3668-QPYBK,Masculino,0,No,No,2,Sí,No,DSL,Sí,No,No,No,No,Mes a mes,Sí,Cheque enviado por correo,53.85,108.15,Sí
3,7795-CFOCW,Masculino,0,No,No,45,No,No hay servicio telefónico,DSL,Sí,Sí,Sí,No,No,Un año,No,Transferencia bancaria (automática),42.30,1840.75,No
4,9237-HQITU,Femenino,0,No,No,2,Sí,No,Fibra óptica,No,No,No,No,No,Mes a mes,Sí,Cheque electrónico,70.70,151.65,Sí
5,9305-CDSKC,Femenino,0,No,No,8,Sí,Sí,Fibra óptica,No,Sí,No,Sí,Sí,Mes a mes,Sí,Cheque electrónico,99.65,820.50,Sí
6,1452-KIOVK,Masculino,0,No,Sí,22,Sí,Sí,Fibra óptica,No,No,No,Sí,No,Mes a mes,Sí,Tarjeta de crédito (automática),89.10,1949.40,No
7,6713-OKOMC,Femenino,0,No,No,10,No,No hay servicio telefónico,DSL,Sí,No,No,No,No,Mes a mes,No,Cheque enviado por correo,29.75,301.90,No
8,7892-POOKP,Femenino,0,Sí,No,28,Sí,Sí,Fibra óptica,No,Sí,Sí,Sí,Sí,Mes a mes,Sí,Cheque electrónico,104.80,3046.05,Sí
9,6388-TABGU,Masculino,0,No,Sí,62,Sí,No,DSL,Sí,No,No,No,No,Un año,No,Transferencia bancaria (automática),56.15,3487.95,No

In [ ]:

df_1.tail(10) #Para ver las últimas 10 filas del DataFrame

,ID,Género,Ciudadano mayor,Pareja,Dependientes,Antigüedad,Servicio telefónico,Líneas múltiples,Servicio de Internet,Protección contra Malware,Protección del dispositivo,Soporte técnico,Televisión en streaming,Películas en streaming,Contrato,Facturación sin papel,Método de pago,Cargos mensuales (dólares),Cargos totales (dólares),Deserción Cliente
4089,0829-XXPLX,Femenino,0,No,No,20,Sí,No,Fibra óptica,Sí,Sí,No,Sí,No,Mes a mes,Sí,Transferencia bancaria (automática),89.40,1871.15,No
4090,9974-JFBHQ,Masculino,0,No,Sí,64,Sí,No,Fibra óptica,No,No,Sí,Sí,Sí,Mes a mes,Sí,Tarjeta de crédito (automática),99.15,6171.20,No
4091,5356-RHIPP,Masculino,0,No,No,1,Sí,No,No,Sin servicio de internet,Sin servicio de internet,Sin servicio de internet,Sin servicio de internet,Sin servicio de internet,Mes a mes,Sí,Cheque enviado por correo,20.20,20.20,Sí
4092,6624-JDRDS,Femenino,0,No,No,6,No,No hay servicio telefónico,DSL,Sí,No,No,No,No,Mes a mes,No,Transferencia bancaria (automática),29.45,161.45,No
4093,0608-JDVEC,Masculino,0,Sí,No,50,Sí,No,No,Sin servicio de internet,Sin servicio de internet,Sin servicio de internet,Sin servicio de internet,Sin servicio de internet,Dos años,No,Cheque electrónico,19.80,1013.20,No
4094,9780-FKVVF,Masculino,0,No,No,6,Sí,No,DSL,Sí,No,No,No,Sí,Mes a mes,Sí,Transferencia bancaria (automática),59.15,336.70,No
4095,1919-RTPQD,Masculino,0,Sí,Sí,7,Sí,No,DSL,No,No,No,No,No,Mes a mes,No,Cheque electrónico,44.75,333.65,No
4096,5214-NLTIT,Masculino,0,Sí,Sí,72,Sí,Sí,Fibra óptica,No,Sí,No,No,Sí,Dos años,Sí,Tarjeta de crédito (automática),90.80,6511.80,No
4097,3345-PBBFH,Masculino,0,Sí,No,8,Sí,No,DSL,No,No,No,No,No,Mes a mes,Sí,Transferencia bancaria (automática),49.55,393.45,No
4098,5055-BRMNE,Femenino,0,Sí,Sí,67,Sí,Sí,Fibra óptica,Sí,No,Sí,Sí,Sí,Dos años,No,Tarjeta de crédito (automática),106.70,7009.50,No

3. ¿Cuántas filas y columnas tiene la base de datos? Responde utilizando solo una línea de código.

In [20]:
df_1.shape #Para ver la forma del DataFrame, es decir, cuántas filas y columnas tiene.

(4099, 20)

4. ¿Qué tipo de objeto es `df_1`? Justifica utilizando una función de Python.

In [21]:
type(df_1) #Para ver el tipo de objeto que es df_1, en este caso un DataFrame de Pandas.

pandas.core.frame.DataFrame

5. Usa la función `info()` para examinar el contenido  del DataFrame. ¿Qué tipo de datos contiene cada columna?

In [23]:
df_1.info() #Para ver información general del DataFrame, como el tipo de datos de cada columna y cuántos valores no nulos hay.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4099 entries, 0 to 4098
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          4099 non-null   object
 1   Género                      4099 non-null   object
 2   Ciudadano mayor             4099 non-null   int64
 3   Pareja                      4099 non-null   object
 4   Dependientes                4099 non-null   object
 5   Antigüedad                  4099 non-null   int64
 6   Servicio telefónico         4099 non-null   object
 7   Líneas múltiples            4099 non-null   object
 8   Servicio de Internet        4099 non-null   object
 9   Protección contra Malware   4099 non-null   object
 10  Protección del dispositivo  4099 non-null   object
 11  Soporte técnico             4099 non-null   object
 12  Televisión en streaming     4099 non-null   object
 13  Películas en streaming      4099 non-null   object
 14  Contrato                    4099 non-null   object
 15  Facturación sin papel       4099 non-null   object
 16  Método de pago              4099 non-null   object
 17  Cargos mensuales (dólares)  4099 non-null   float64
 18  Cargos totales  (dólares)   4099 non-null   float64
 19  Deserción Cliente           4099 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 640.6+ KB

6. Cambia el tipo de dato de la columna "Antigüedad" a `float`. Para lograrlo, deberás reasignar esta columna con el nuevo tipo de dato. Luego, muestra las primeras 3 filas del DataFrame.

In [ ]:
df_1["Antigüedad"] = df_1["Antigüedad"].astype(float) #Para cambiar el tipo de dato de la columna "Antigüedad" a decimal.

df_1["Antigüedad"].head(3) #Para ver las primeras 3 filas de la columna "Antigüedad" después de cambiar su tipo de dato.

0     1.0
1    34.0
2     2.0
Name: Antigüedad, dtype: float64

7. Verifica que la columna "Antigüedad" haya cambiado correctamente su tipo de dato a `float`.

8. ¿Te parece correcto cambiar el tipo de dato de la columna "Cargos mensuales (dólares)" a tipo `int`? Justifica tu respuesta.

## Actividad 3

La empresa de telecomunicaciones te ha pedido que analices ciertas variables clave de sus clientes. Necesitas extraer columnas específicas, aplicar filtros básicos y comenzar a preparar los datos para futuros análisis más avanzados.

Puedes descargar la base de datos **<a href="https://docs.google.com/spreadsheets/d/1v6euDfqECe1HTJz0yFUrn7mmrt-rG9gG/export?format=xlsx
">aquí</a>** para responder las siguientes preguntas:

1. Muestra las cuatro primeras filas de las columnas "Género", "Antigüedad" y "Deserción Cliente" del DataFrame.

2. ¿Cuántos clientes de la base de datos pertenecen al género masculino y cuántos al femenino?

3. Calcula el total que un cliente habría pagado si su cargo mensual se hubiera mantenido constante durante todo el tiempo en la empresa. Para esto, agrega una nueva columna al DataFrame llamada "Cargos acumulados (dólares)", que sea el resultado de multiplicar "Cargos mensuales" por "Antigüedad". Luego, muestra las primeras 5 filas del DataFrame para verificar que la nueva columna fue agregada correctamente.

4. Crea un nuevo DataFrame que contenga la información solo de los clientes cuyo "Servicio de Internet" es Fibra óptica. ¿Cuántas filas tiene este nuevo DataFrame? Muestra sus primeras 5 filas para comprobar que el filtro se aplicó correctamente.

5. ¿Cuántos clientes con fibra óptica abandonaron la empresa? Muestra las primeras 5 filas del nuevo DataFrame para comprobar que el filtro se aplicó correctamente.

6. 🤖 Utiliza la IA de Google Colab para realizar el código que permita responder esta pregunta:

Calcula el promedio de "Cargos mensuales" de los clientes que cumplen estas tres condiciones al mismo tiempo:

* Tienen servicio de internet por Fibra óptica.
* Usan protección contra Malware.
* Continúan en la empresa.

Luego, realiza el mismo cálculo para los clientes que cumplen estas otras tres condiciones:
* Tienen servicio de internet por DSL.
* No usan protección contra Malware.
* Han abandonado la empresa.

Finalmente, compara ambos promedios y responde: ¿Cuál grupo paga más en promedio por los cargos mensuales? ¿ A qué crees que se podría deber esa diferencia?