# Medidas de Dispersi칩n

In [3]:
import pandas as pd

## Objetivos:

Aplicar medidas de dispersi칩n (rango, desviaci칩n est치ndar y coeficiente de variaci칩n) en el an치lisis de bases de datos, utilizando Python como herramienta de apoyo.

*Nota: Este laboratorio est치 dise침ado para desarrollar razonamiento estad칤stico. Evita el uso de herramientas de IA para responder las preguntas a menos que esto sea expl칤citamente sugerido* 游뱄. *En su lugar, enf칩cate en aplicar los conceptos revisados.*

## Actividad 1

El gobierno de la ciudad de San Francisco ha publicado los sueldos base de sus funcionarios p칰blicos entre los a침os 2011 y 2014. Esta base incluye trabajadores con distintos cargos y niveles de responsabilidad.
Como analista de datos, tu tarea es describir y cuantificar la variabilidad de los sueldos base usando medidas estad칤sticas de dispersi칩n.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=1Ry63iApbDJaY_C1HfR5s-kIX5ldWcGW8
">aqu칤</a>**.

*Observaci칩n: Considera que la variable Pago base est치 expresada en d칩lares estadounidenses (USD) y corresponde a ingresos anuales.*

In [4]:
df_1 = pd.read_csv("Actividad_1_2_3.csv")
df_1

,Id,Nombre del empleado,T칤tulo profesional,Pago base,A침o
0,28822,SUSAN KYAUK,Supervisor De Cuentas De Pacientes,55795,2011
1,29857,JOYCE WONG,Auxiliar De N칩mina,20860,2011
2,30163,OSCAR JIMENEZ,Supervisor De Recreaci칩n,116820,2011
3,30871,FATIMA AZAM,Portero,26265,2011
4,31788,PAULINE PEREA,Custodio,36850,2011
...,...,...,...,...,...
2265,148382,Ariana N Campos,Becario De Servicio P칰blico,55144,2014
2266,148383,Gustavo Serina,"Gerente De Comercio De La Junta, Grupo 2, M = ...",112161,2014
2267,148384,Arturo Durazo,Trabajador De Salud 3,117360,2014
2268,148385,Patrick J O'Donnell,L칤der De Recreaci칩n,90979,2014
2269,148386,Phoebe E Barkan,L칤der De Recreaci칩n,46979,2014

1. Identifica la poblaci칩n y muestra del estudio.

Pobalci칩n: Funcionarios p칰blicos entre los a침os 2011 y 2014 de la ciudad de San Francisco. 
Muestra: 2270 Funcionarios p칰blicos entre los a침os 2011 y 2014 de la ciudad de San Francisco.

2. Muestra las tres primeras y tres 칰ltimas filas de la base de datos.

3. Calcula el rango de la variable *Pago base*, 쯘ste valor representa la realidad de todos los trabajadores?

In [5]:
#rango = MAX - MIN
min_sueldo = df_1['Pago base'].min()
max_sueldo = df_1['Pago base'].max()
rango_sueldo = max_sueldo - min_sueldo
print(f"El rango de sueldo de los empleados p칰blicos de la ciudad de San Francisco es: ${rango_sueldo} USD.")

El rango de sueldo de los empleados p칰blicos de la ciudad de San Francisco es: $272497 USD.

Respuesta: El rango no representa la realidad de todos los trabajadores, ya que solo considera los valores extremos y el rango calculado es muy amplio.

4. Calcula la media, mediana, desviaci칩n est치ndar y coeficiente de variaci칩n del sueldo base. 쯃a dispersi칩n es alta o baja respecto al promedio? 쯈u칠 medida (media o mediana) consideras m치s representativa para describir el sueldo t칤pico? Justifica tu respuesta.

In [6]:
media = df_1['Pago base'].mean()
mediana = df_1['Pago base'].median()
desviacion = df_1['Pago base'].std()
cv = desviacion/media * 100
print(f"La media es de: ${media:.2f} USD. \nLa mediana es de: ${mediana} USD. \nLa desviaci칩n es: ${desviacion:.2f} USD. \nEl coeficiente de variaci칩n es de: {cv:.1f} %")

La media es de: $77087.22 USD.
La mediana es de: $74711.5 USD.
La desviaci칩n es: $31121.66 USD.
El coeficiente de variaci칩n es de: 40.4 %

## Actividad 2

Un equipo de an치lisis de datos quiere comparar la variabilidad de los sueldos base entre distintos a침os para evaluar si ha habido m치s o menos estabilidad en las remuneraciones del empleo p칰blico.

Trabajar치s con la base de datos que ha publicado el gobierno de San Francisco con informaci칩n de los sueldos base de sus funcionarios p칰blicos entre los a침os 2011 y 2014. Esta base incluye trabajadores con distintos cargos y niveles de responsabilidad.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=1Ry63iApbDJaY_C1HfR5s-kIX5ldWcGW8
">aqu칤</a>**.

*Observaci칩n: Considera que la variable Pago base est치 expresada en d칩lares estadounidenses (USD) y corresponde a ingresos anuales.*

1. Importa la base de datos y crea una tabla que agrupe los valores de *Pago base*. Luego, calcula la media, la desviaci칩n est치ndar y el coeficiente de variaci칩n por a침o.

In [7]:
agrupa_anio = df_1.groupby('A침o')['Pago base'].agg(['mean', 'std'])
agrupa_anio['Coeficiente de Variacon %'] = (agrupa_anio['std']/agrupa_anio['mean'])*100
round(agrupa_anio, 1)

         mean      std  Coeficiente de Variacon %
A침o
2011  79206.6  26326.9                       33.2
2012  74188.2  33407.9                       45.0
2013  76963.0  32361.8                       42.0
2014  89173.0  42143.0                       47.3

2. 쮼n cu치l a침o se observa mayor dispersi칩n absoluta en los sueldos base? Justifica usando la desviaci칩n est치ndar.

Se observa el mayor la mayor dispersi칩n absoluta el a침o 2014, ya que es el valor m치s alto.

3. 쮺u치l a침o tiene mayor heterogeneidad? Justifica usando el coeficiente de variaci칩n.

El a침o m치s heterog칠neo es el a침o 2014, porque su CV es el m치s alto o m치s lejano del 0%.

4. 쯈u칠 ventajas tiene el coeficiente de variaci칩n frente a la desviaci칩n est치ndar al realizar comparaciones?

5. 쯈u칠 interpretaci칩n puedes hacer al comparar los datos del a침o 2011 con los del 2014?

## Actividad 3

Un equipo de an치lisis de datos busca estudiar qu칠 tan parecidos o distintos son los sueldos base entre trabajadores que ejercen el mismo cargo. Para ello, se analizar치n los cinco t칤tulos profesionales m치s frecuentes en la base de datos publicada por el gobierno de San Francisco, la cual contiene informaci칩n de los sueldos base de funcionarios p칰blicos entre los a침os 2011 y 2014. Esta base incluye trabajadores con distintos niveles de responsabilidad.

Como analista, tu tarea es calcular y comparar medidas estad칤sticas de dispersi칩n dentro de cada cargo, para evaluar la variabilidad de las remuneraciones en estos grupos.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=1Ry63iApbDJaY_C1HfR5s-kIX5ldWcGW8
">aqu칤</a>**.

*Observaci칩n: Considera que la variable Pago base est치 expresada en d칩lares estadounidenses (USD) y corresponde a ingresos anuales.*

1. Crea una tabla de frecuencias absolutas que muestre los cuatro cargos  m치s frecuentes de San Francisco, usando la variable *T칤tulo profesional*.

2. 쯈u칠 observas respecto a los cargos m치s comunes? 쯊e sorprende alguno?

3. De acuerdo con la tabla realizada en el inciso anterior, crea un DataFrame que contenga solo los cuatro cargos con mayor presencia en la ciudad de San Francisco, para esto debes filtrar tu DataFrame original. Luego, muestra las cinco primeras filas y las cinco 칰ltimas filas.

$\hspace{1cm}$ *Para filtrar r치pidamente puedes almacenar los cargos frecuentes en una variable y luego utilizar la funci칩n isin.*

4. Utiliza el DataFrame filtrado del inciso anterior para crear una tabla con el c치lculo de la media, mediana, desviaci칩n est치ndar y coeficiente de variaci칩n del sueldo base (*Pago base*).

5. 쮺u치l de los cargos tiene sueldos m치s homog칠neos? Justifica.